<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.dukkanexpress">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.app.dukkanexpress.SpalshScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityWithBGImageBackground"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.dukkanexpress.PaymentResult" />
        <activity
            android:name="com.app.dukkanexpress.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="292678b7d8363dad0de7963670bb3c75ec559f8a" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>